<%= foundation_devise_error_messages! %>
<div class="grid-x grid-padding-x">
  <div class="large-offset-2 medium-6 cell">
    <div class="login-box">
      <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
        <div class="row">
          <h5 class="text-center">
            <%= t('.sign_up', :default => "Sign up") %>
          </h5>
        </div>
        <div class="">
          <%= f.email_field :email, autofocus: true, class: "", placeholder: "Email"%>
        </div>
        <div class="">
          <%= f.password_field :password, autocomplete: "off", class: "", placeholder: "Password"%>
        </div>
        <div class="">
          <%= f.password_field :password_confirmation, autocomplete: "off", class: "", placeholder: "Password Confirmation"%>
        </div>
        <div class="row">
          <%= f.submit t('.sign_up', :default => "Sign up"), class: "button expand" %>
        </div>
      <% end %>
    </div>
    <%= render "devise/shared/links" %>
  </div>
</div>