<div class="grid-x grid-margin-x">
  <div class="large-offset-1 large-10 medium-offset-1 medium-10 small-12 cell">
    <button class="button expanded gm_enable" value="submit">Enable Game Mode</button>
  </div>
  <div class="large-offset-1 large-10 medium-offset-1 medium-10 small-12 cell">
    <div style="background-color: white">
      <% if @upcoming_lesson %>
          <div class="callout">
            <h5>Upcoming Lesson Alert</h5>
            <p style="padding-left: 2em">
              <img style="height: 20px" src='/images/icons8-planner.png'/>  You have a LESSON with <%= @upcoming_lesson.coach ? @upcoming_lesson.coach.name : "unknown" %> scheduled for <%= @upcoming_lesson.lesson_date.strftime("%b/%-d/%Y at %l:%M %p") %>
            </p>
          </div>
      <% end %>
      <% if @upcoming_match %>
          <div class="callout">
            <h5>Upcoming Match Alert</h5>
            <p style="padding-left: 2em">
              <img style="height: 20px" src='/images/icons8-planner.png'/>  You have a MATCH with <%= @upcoming_match.opponent.name %> scheduled for <%= @upcoming_match.match_datetime.strftime("%b/%-d/%Y at %l:%M %p") %>
            </p>
          </div>
      <% end %>
      <section style="padding-left:1em;padding-bottom:1.5em">
        <h4 style="border: 20px">Activities</h4>
        <table class="table">
          <% @items_to_display.each do |item| %>
            <tr>
              <% if item.try(:match_datetime) %>
                <td>
                  <a href="/matches/<%= item.id%>">View</a>
                </td>
                <td>
                  <% if item.result.win %>
                    <span><img style="height: 20px" src='/images/icons8-lol.png'/></span>
                  <% else %>
                    <span><img style="height: 20px" src='/images/icons8-cloud_lighting.png'/></span>
                  <% end %>
                You had a Match against <%= item.opponent ? item.opponent.name : "unknown"%> on <%= item.match_datetime.strftime("%b/%-d/%Y at %l:%M %p") %> - <%= item.result.show_sets == "" ? "No Result" : item.result.win ? "WIN " : "LOSS " %> <%= item.result.show_sets == "" ? "" : "(#{item.result.show_sets})" %>
                </td>
              <% elsif  item.try(:lesson_date) %>
                <td>
                <a href="/lessons/<%= item.id%>">View</a>
                </td>
                <td>
                  <span><img style="height: 20px" src='/images/icons8-curriculum.png'/></span>
                You had a Lesson<%= item.coach ? " with " + item.coach .name : ""%> on <%= item.lesson_date.strftime("%b/%-d/%Y at %l:%M %p") %>
                </td>
              <% end %>
            </tr>
          <% end %>
        </table>
      </section>
    </div>
  </div>
</div>
<script>
    $(function() {
        $(".is-active").removeClass('is-active')
        $("#noticeboard-menu-item").addClass('is-active')
    })
</script>