<form autocomplete="off">
  <div class="grid-x grid-margin-x">
    <div class="cell small-offset-1 small-10 user">
      <fieldset>
        <input type="hidden" id="user-id" value="<%= @user.id %>"/>
        <label class="match-label name">Name
          <input autocomplete="off" id="name" type="text" name="name" value="<%= @user.name %>"/>
        </label>
      </fieldset>
      <fieldset>
        <label class="match-label email">Email
          <input autocomplete="off" id="email" type="text" name="email" value="<%= @user.email %>"/>
        </label>
      </fieldset>
      <fieldset>
        <label class="match-label usta_number">USTA Number
          <input autocomplete="off" id="usta_number" type="text" name="usta_number" value="<%= @user.usta_number %>"/>
        </label>
      </fieldset>
      <fieldset>
        <label class="match-label club">Club
          <input id="club-id" type="hidden" name="club-id" value="<%= @user.club_id.to_s != '' ? @user.club_id : ''%>"/>
          <input autocomplete="off" id="club" type="text" name="club" value="<%= @user.club_id.to_s != '' ? @user.club.name : ''%>"/>
        </label>
      </fieldset>
      <fieldset>
        <label class="match-label city">City
          <input autocomplete="off" id="city" type="text" name="city" value="<%= @user.city %>"/>
        </label>
      </fieldset>
      <fieldset>
        <label class="match-label state">State
          <input autocomplete="off" id="state" type="text" name="state" value="<%= @user.state %>"/>
        </label>
      </fieldset>
      <fieldset>
        <label class="match-label state">Zipcode
          <input autocomplete="off" id="zipcode" type="text" name="zipcode" value="<%= @user.zipcode %>"/>
        </label>
      </fieldset>
    </div>
    <div class="cell medium-offset-2 medium-5">
      <button class="button cell medium-offset-1 medium-4 success update-existing-user" id="update-existing-user" value="submit">Save</button>
    </div>
  </div>
  <script>
      $(function() {
          $(".is-active").removeClass('is-active')
          $("#my-profile-menu-item").addClass('is-active')
      })
  </script>
</form>
<div id="form-modal" class="reveal medium" data-reveal style="display: none"></div>