<form autocomplete="off">
  <div class="grid-x grid-margin-x">
    <div class="cell small-offset-1 small-10 lesson-details" id="<%= @lesson.id %>">
      <fieldset>
        <label class="lesson-label new-coach">Coach
          <input class="new-lesson_coach" type="text" name="coach" value="<%= @lesson.coach %>" id="<%= @lesson.coach_id %>"
          />
        </label>
      </fieldset>
      <fieldset>
        <label class="lesson-label lesson_date">Date</label>
        <input autocomplete="off" id="new-lesson_date" type="text" name="lesson_date" value="<%= @lesson.lesson_date ? @lesson.lesson_date.strftime('%Y-%m-%d %H:%M') : '' %>" placeholder="Please enter a date"/>
      </fieldset>
      <fieldset>
        <label class="lesson-label notes">Player Notes
          <textarea autocomplete="off" id="new-lesson_notes" name="notes" value="<%= @lesson.notes ? @lesson.notes : ""%>" rows="4"></textarea>
        </label>
      </fieldset>
      <fieldset>
        <label class="lesson-label coaches_note">Coaches Notes
          <textarea autocomplete="off" id="new-lesson_coaches_note" name="coaches_note" disabled="true" value="<%= @lesson.coaches_note ? @lesson.coaches_note : ""%>" rows="4"></textarea>
        </label>
      </fieldset>
    </div>
    <div class="cell medium-offset-2 medium-5">
      <button class="button cell medium-offset-1 medium-4 cancel save-new-lesson" value="submit">Save</button>
      <button class="button cell medium-offset-1 medium-4 cancel cancel-new-lesson" value="submit">Cancel</button>
    </div>
  </div>
</form>
<div id="form-modal" class="reveal medium" data-reveal style="display: none"></div>
<div id="searchingModal" class="reveal-modal" data-reveal aria-hidden="true" role="dialog">
  <div class="grid-x grid-margin-x">
    <div class="cell medium-offset-2 medium-5">
    <h2 class="align-center text-center" id="modalTitle" style="color: white">Searching <img style="height: 30px;" src="/images/spinner.gif"></h2>
    </div>
  </div>
</div>
<script>
    $(function() {
        $(".is-active").removeClass('is-active')
        $("#new-lesson-menu-item").addClass('is-active')
    })
</script>