<form>
  <div class="grid-x grid-margin-x">
    <div class="cell small-offset-1 small-10 lesson-details" id="<%= @lesson.id %>">
      <fieldset>
        <label class="lesson-label opponent">Coach
          <input class="new-lesson_coach" type="text" name="coach" value="<%= @lesson.coach %>" id="<%= @lesson.coach_id %>"
          />
        </label>
      </fieldset>
      <fieldset>
        <label class="lesson-label lesson_date">Date</label>
        <input id="new-lesson_date" type="text" name="lesson_date" value="<%= @lesson.lesson_date ? @lesson.lesson_date.strftime('%Y-%m-%d %H:%M') : '' %>" placeholder="Please enter a date"/>
      </fieldset>
      <fieldset>
        <label class="lesson-label notes">Player Notes
          <textarea id="new-lesson_notes" name="notes" value="<%= @lesson.notes ? @lesson.notes : ""%>" rows="4"></textarea>
        </label>
      </fieldset>
      <fieldset>
        <label class="lesson-label coaches_note">Coaches Notes
          <textarea id="new-lesson_coaches_note" name="coaches_note" disabled="true" value="<%= @lesson.coaches_note ? @lesson.coaches_note : ""%>" rows="4"></textarea>
        </label>
      </fieldset>
    </div>
    <div class="cell medium-offset-2 medium-5">
      <button class="button cell medium-offset-1 medium-4 cancel save-new-lesson" value="submit">Save</button>
      <button class="button cell medium-offset-1 medium-4 cancel cancel-new-lesson" value="submit">Cancel</button>
    </div>
  </div>
</form>
<div id="form-modal" class="reveal medium" data-reveal style="display: none"></div>
<script>
    $(function() {
        $(".is-active").removeClass('is-active')
        $("#matches-menu-item").addClass('is-active')
    })
</script>