<form autocomplete="off">
  <div class="grid-x grid-margin-x">
    <div class="cell small-offset-1 small-10 lesson-details" id="<%= @lesson.id %>">
      <fieldset>
        <label class="lesson-label coach">Coach
          <input class="lesson_coach" type="text" name="coach" value="<%= @lesson.coach.name %>" id="<%= @lesson.coach_id %>"
          />
        </label>
      </fieldset>
      <fieldset>
        <label class="lesson-label lesson_date">Date</label>
        <input id="lesson_date" type="text" name="lesson_date" value="<%= @lesson.lesson_date ? @lesson.lesson_date.strftime('%Y-%m-%d %H:%M') : '' %>" placeholder="Please enter a date"/>
      </fieldset>
      <fieldset>
        <label class="lesson-label lesson_notes">Notes
          <textarea id="lesson_notes" name="lesson_notes" rows="4"><%= @lesson.notes ? @lesson.notes : ""%></textarea>
        </label>
      </fieldset>
      <fieldset>
        <label class="lesson-label coaches_note">Coaches Note
          <textarea disabled="true" id="lesson_coaches_note" name="coaches_note" rows="4"><%= @lesson.coaches_note ? @lesson.coaches_note : ""%></textarea>
        </label>
      </fieldset>
    </div>
    <div class="cell medium-offset-2 medium-5">
      <button class="button cell medium-offset-1 medium-4 cancel cancel-lesson-update" id="<%= @lesson.id%>" value="submit">Back</button>
    </div>
  </div>
</form>
<div id="form-modal" class="reveal medium" data-reveal style="display: none"></div>
<script>
    $(function() {
        $(".is-active").removeClass('is-active')
        $("#lessons-menu-item").addClass('is-active')
    })
</script>