<div class="grid-x grid-margin-x matches-list">
  <div class="cell medium-offset-1 medium-10 small-offset-1 small-10 cell">
    <a class="button expanded success" href="/matches/new" >Add a new match</a>
  </div>
</div>
<div class="grid-x grid-margin-x matches-list">
  <div class="medium-offset-1 medium-10 small-offset-1 small-10 cell">
    <table id="data-datatables">
      <thead>
      <tr>
        <th></th>
        <th>
          Opponent
        </th>
        <th>
          Win/Loss
        </th>
        <th>
          Date
        </th>
        <th>
          Location
        </th>
        <th>
          Set1
        </th>
        <th>
          Set2
        </th>
        <th>
          Set3
        </th>
      </tr>
      </thead>
      <tbody>
      <% @matches.each do |match| %>
        <tr>
          <td>
            <button class="view-match button" id="match-id-<%=match.id%>">View Match</button>
          </td>
          <td>
            <% if match.opponent %>
              <a class='match-data' data-href='/opponents/<%= match.opponent.id %>'><%= match.opponent.name %></a>
            <% else %>
              Not Entered
            <% end %>
          </td>
          <td>
            <%= (match.details && match.details.result) ? match.details.result.summary : "No results" %>
          </td>
          <td>
            <%= match.match_datetime ? match.match_datetime.strftime("%b/%-d/%Y at %l:%M %p") : 'Not Entered' %>
          </td>
          <td>
            <% if match.court %>
              <a class='match-data' data-href='/courts/<%= match.court_id %>'><%= match.court.name %></a>
            <% else %>
              Not Entered
            <% end %>
          </td>
          <td>
            <%= (match.details && match.details.result) ? match.details.result.sets[0] : "No result" %>
          </td>
          <td>
            <%= (match.details && match.details.result) ? match.details.result.sets[1] : "No result" %>
          </td>
          <td>
            <%= (match.details && match.details.result &&match.details.result.sets.length > 2) ? match.details.result.sets[2] : ""  %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>

    <div id="match_opponent" class="reveal large-12 large-centered medium-12 medium-centered" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
    </div>
  </div>
</div>