<form>
  <div class="row">
    <% set_score = @results.sets[0].split("-") %>
    <div class="medium-12 columns set" id="set-1">
      <label class="medium-6" name="set1"><b>First Set</b></label>
      <select class="medium-3 home-score">
        <% 0.upto(6).each do |setnumber| %>
          <option value="<%=setnumber%>" <%= setnumber == set_score[0].to_i ? "selected" : ""%>><%=setnumber%></option>
        <% end %>
      </select>
      <select class="medium-3 away-score">
        <% 0.upto(6).each do |setnumber| %>
          <option value="<%=setnumber%>"  <%= setnumber == set_score[1].to_i ? "selected" : ""%>><%=setnumber%></option>
        <% end %>
      </select>
    </div>
  </div>
  <div class="row">
    <button class="success update-match" id="<%= @match.id%>" value="submit">Save</button>
    <button class="cancel cancel-update" id="<%= @match.id%>" value="submit">Cancel</button>
  </div>
</form>