<form autocomplete="off">
<div class="grid-x grid-margin-x">
  <div class="cell small-offset-1 small-10 match-details" id="<%= @match.id %>">
    <fieldset>
      <label class="match-label opponent">Opponent
        <input class="opponent" type="text" name="opponent" value="<%= @match.opponent.name %>"/>
      </label>
    </fieldset>
    <fieldset>
      <label class="match-label results">Result <%= (@match.match_detail && @match.match_detail.result) ? @match.match_detail.result.summary : "" %>
        <input type="text" name="result" value="<%= (@match.match_detail && @match.match_detail.result) ? @match.match_detail.result.show_sets : ""%>"/>
      </label>
    </fieldset>
    <fieldset>
      <label class="match-label strengths">Strengths
        <input type="text" name="strengths" value="<%= @match.match_detail ? @match.match_detail.show_strengths : ""%>"/>
      </label>
    </fieldset>
    <fieldset>
      <label class="match-label weaknesses">Weaknesses
        <input type="text" name="weaknesses" value="<%= @match.match_detail ? @match.match_detail.show_weaknesses : ""%>"/>
      </label>
    </fieldset>
    <fieldset>
      <label class="match-label note_to_self">Notes to Self
        <textarea type="" rows="4" name="note_to_self" rows="4"><%= @match.match_detail ? @match.match_detail.note_to_self : ""%> </textarea>
      </label>
    </fieldset>
    <fieldset>
      <label class="match-label location">Location
        <input type="text" name="location" value="<%= @match.court ? @match.court.name + ',' + @match.court.address : ""%>"/>
      </label>
    </fieldset>
    <fieldset>
      <label class="match-label datetime">Date</label>
      <input id="match_datetime" type="text" name="datetime" value="<%= @match.match_datetime ? @match.match_datetime.strftime('%Y-%m-%d %H:%M') : '' %>" placeholder="Please enter a date"/>
    </fieldset>
  </div>
  <div class="cell medium-offset-2 medium-5">
    <button class="button cell medium-offset-1 medium-4 cancel cancel-update" id="<%= @match.id%>" value="submit">Back</button>
  </div>
</div>
</form>
<div id="form-modal" class="reveal medium" data-reveal style="display: none"></div>
<div id="searchingModal" class="reveal-modal" data-reveal aria-hidden="true" role="dialog">
  <div class="grid-x grid-margin-x">
    <div class="cell medium-offset-2 medium-5">
      <h2 class="align-center text-center" id="modalTitle" style="color: white">Searching <img style="height: 30px;" src="/images/spinner.gif"></h2>
    </div>
  </div>
</div>
<script>
  $(function() {
      $(".is-active").removeClass('is-active')
      $("#matches-menu-item").addClass('is-active')
  })
</script>