<form autocomplete="off">
  <div class="match-details" id="<%= @match.id %>">

    <div class="grid-x grid-margin-x">
      <fieldset class="match-label medium-offset-1 medium-11 small-offset-2 small-8 cell">
        <legend>Please select singles or doubles</legend>
        <input type="radio" name="singles_or_doubles" value="singles" id="singles" <%= @match.singles ? "checked=\"checked\"" : ""%> required><label class='match-label' for="singles">Singles</label>
        <input type="radio" name="singles_or_doubles" value="doubles" id="doubles" <%= @match.doubles ? "checked=\"checked\"" : ""%> > <label class='match-label' for="doubles">Doubles</label>
      </fieldset>

      <div class="cell singles-view <%= @match.doubles ? "is-hidden" : ""%> medium-offset-1 medium-6 small-offset-2 small-8 ">
        <label class="opponent match-label">Opponent
          <input id="opponent" type="text"name="new-opponent" value="<%= @match.opponent ? @match.opponent.name : "" %>"/>
        </label>
      </div>
      <div class="doubles-view  <%= @match.singles ? "is-hidden" : ""%> cell medium-offset-1 medium-3 small-offset-2 small-8 ">
        <label class="opponent match-label">Opponent 1
          <input id="new-opponent1" type="text"name="new-opponent1" value="<%= @match.opponent ? @match.opponent.name : ""%>"/>
        </label>
      </div>
      <div class="doubles-view <%= @match.singles ? "is-hidden" : ""%> cell singles-view medium-offset-0 medium-3 small-offset-2 small-8 ">
        <label class="opponent2 match-label">Opponent 2
          <input id="opponent2" type="text"name="new-opponent2" value="<%= @match.opponent2 ? @match.opponent2.name : "" %>"/>
        </label>
      </div>
      <div class="cell medium-offset-1 medium-3 small-offset-2 small-8">
        <label class="match-label datetime">Date
        <input id="match_datetime" type="text" name="datetime" value="<%= @match.match_datetime ? @match.match_datetime.strftime('%Y-%m-%d %H:%M') : '' %>" placeholder="Please enter a date"/>
        </label>
      </div>
      <div class="cell medium-offset-1 medium-3 small-offset-2 small-8 match-details">
        <label class="team match-label">Team
          <input id="team" type="text"name="team" value="<%= (@match.team) %>"/>
        </label>
      </div>
      <div class="cell medium-offset-1 medium-3 small-offset-2 small-8 match-details">
        <label class="league match-label">League
          <input id="league" type="text"name="league" value="<%= (@match.league) %>"/>
        </label>
      </div>
      <div class="cell medium-offset-1 medium-2 small-offset-2 small-8 match-details">
        <label class="season match-label">Season/Year
          <input id="season" type="text"name="season" value="<%= (@match.season) %>"/>
        </label>
      </div>
      <div class="cell medium-offset-1 medium-4 small-offset-2 small-8 match-details" id="<%= @match.id %>">
        <label class="match-label results">Result <%= (@match.match_detail && @match.match_detail.result) ? @match.match_detail.result.summary : "" %>
          <input type="text" name="result" value="<%= (@match.match_detail && @match.match_detail.result) ? @match.match_detail.result.show_sets : ""%>"/>
        </label>
      </div>
      <div class="cell medium-offset-1 medium-5 small-offset-2 small-8 match-details">
        <label class="match-label location">Location
          <input type="text" name="location" value="<%= @match.court ? @match.court.name + ',' + @match.court.address : ""%>"/>
        </label>
      </div>
      <div class="cell medium-offset-1 medium-10 small-offset-2 small-8 match-details">
        <label class="match-label strengths">Strengths
          <input type="text" name="strengths" value="<%= @match.match_detail ? @match.match_detail.show_strengths : ""%>"/>
        </label>
      </div>
      <div class="cell medium-offset-1 medium-10 small-offset-2 small-8 match-details">
      <label class="match-label weaknesses">Weaknesses
        <input type="text" name="weaknesses" value="<%= @match.match_detail ? @match.match_detail.show_weaknesses : ""%>"/>
      </label>
      </div>
      <div class="cell medium-offset-1 medium-10 small-offset-2 small-8 match-details">
      <label class="match-label note_to_self">Pre Match Notes
        <textarea type="" rows="4" name="note_to_self" rows="4"><%= @match.match_detail ? @match.match_detail.note_to_self : ""%> </textarea>
      </label>
      </div>
      <div class="cell medium-offset-1 medium-10 small-offset-2 small-8 match-details">
        <label class="match-label post_match_notes">Post Match Notes
          <textarea type="" rows="4" name="post_match_notes" rows="4"><%= @match.match_detail ? @match.match_detail.post_match_notes : ""%> </textarea>
        </label>
      </div>
    </div>
    <div class="grid-x grid-margin-x">
      <div class="cell medium-offset-1 medium-5 small-offset-2 small-10">
        <button class="button expanded cancel cancel-update" id="<%= @match.id%>" value="submit">Back</button>
      </div>
    </div>
    </div>
  </div>
</form>
<div id="form-modal" class="reveal medium" data-reveal style="display: none"></div>
<div id="searchingModal" class="reveal-modal" data-reveal aria-hidden="true" role="dialog">
  <div class="grid-x grid-margin-x">
    <div class="cell medium-offset-2 medium-5">
      <h2 class="align-center text-center" id="modalTitle" style="color: white">Searching <img style="height: 30px;" src="/images/spinner.gif"></h2>
    </div>
  </div>
</div>
<script>
  $(function() {
      $(".is-active").removeClass('is-active')
      $("#matches-menu-item").addClass('is-active')
  })
</script>