<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=0.7" />

    <title><%= content_for?(:title) ? yield(:title) : "Gameplans" %></title>

    <%= stylesheet_link_tag "application" %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= csrf_meta_tags %>
  </head>

  <body class="background">
    <%= javascript_include_tag "application" %>
    <%= yield %>

  </body>
</html>
