<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=0.7" />

    <title><%= content_for?(:title) ? yield(:title) : "Gameplans" %></title>

    <%= stylesheet_link_tag "application" %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= csrf_meta_tags %>
  </head>

  <body class="background">
    <% if current_user %>
    <div class="top-bar">
      <div class="top-bar-left">
        <ul class="menu" data-dropdown-menu>
          <li class="menu-text">GamePlans</li>
          <li id="matches-menu-item"><a href="/home/index">Matches</a></li>
          <li id="new-match-menu-item"><a href="/matches/new">Add a New Match</a></li>
          <li id="lessons-menu-item"><a href="/lessons/index">Matches</a></li>
          <li id="new-lesson-menu-item"><a href="/lessons/new">Add a New Match</a></li>
          <li id="analytics-menu-item"><a href="/analytics">Analytics</a></li>
          <li id="my-profile-menu-item"><a href="/users/<%= current_user.id %>">My Profile</a></li>
        </ul>
      </div>
      <div class="top-bar-right">
        <ul class="menu">
          <li id="logout-menu-item"><%= link_to('Logout', destroy_user_session_path, method: :delete) %></li>
        </ul>
      </div>
    </div>
    <% end %>
    <div style="height:20px"></div>
    <%= javascript_include_tag "application" %>
    <%= yield %>

  </body>
</html>
